@import "mixins";
#p_news {
  .news {
    width: 100%;
    height: 100%;
    position: relative;
    filter: var(--dd);

    cursor: pointer;
    h2 {
      color: white;
      @include mq(550) {
        font-size: 1rem;
      }
    }
    p {
      color: white;
      @include mq(550) {
        font-size: 0.8rem;
      }
    }
    &:hover {
      .nimg {
        filter: blur(2px);
      }
      .wrapper {
        scale: 1.02;
      }
    }
    .wrapper {
      border-radius: 2em;
      // background: rgba(0, 0, 0, 0.283);
      position: relative;
      height: 100%;
      width: 100%;
      padding: 2em 1.5em;
      padding-bottom: 0.8em;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      transition: all 300ms var(--es1);
      &::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #091947, transparent);
        z-index: -5;
        border-radius: 2em;
        opacity: 0.7;

        transition: all 550ms var(--es1);
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0%;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, var(--blue), var(--lime));
      z-index: -100;
      border-radius: 2em;
    }

    .nimg {
      transition: all 250ms var(--es1);
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -100;
      top: 0%;
      left: 0%;
      border-radius: inherit;
    }

    .tags {
      display: flex;
      gap: 0.25em;
      margin: 0.5em 0;
      flex-wrap: wrap;
      .t {
        p {
          font-size: 0.8rem;
          background: linear-gradient(to right, var(--blue), var(--lblue));
          font-weight: bold;
          padding: 0.25em 1em;
          border-radius: 1em;
        }
        filter: var(--dd);
      }
    }
    .excerpt {
      font-size: 0.8rem;
      margin: 1em 0;
    }
  }

  #nft {
    background: url("/b/audi-bg.png");
    background-size: 100% 100%;

    @include mq(1024) {
      max-width: 95%;
      margin: 0 auto;
    }
    .confine {
      display: grid;
      grid-template-columns: 2fr 1fr;

      max-width: 1200px;
      margin: 50px auto;

      min-height: 700px;
      gap: 1em;

      @include mq(1024) {
        grid-template-columns: 1fr 1fr;
      }
      @include mq(768) {
        display: flex;
        flex-direction: column;
        min-height: 1200px;
      }

      @include mq(550) {
        min-height: initial;
        display: flex;
        flex-direction: column;
        .t {
          .news {
            height: 400px;
          }
        }
      }
      .l {
        gap: 1em;
        display: grid;
        grid-template-rows: 2fr 1fr;

        @include mq(550) {
          display: flex;
          flex-direction: column;
        }

        .b {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1em;
          @include mq(768) {
            .news {
              height: 300px;
            }
          }
          @include mq(550) {
            grid-template-columns: 1fr;
            display: none;
          }
        }
      }

      .r {
        .news {
          @include mq(768) {
            height: 400px;
          }
        }
      }
    }
  }

  #nct {
    padding: 4em 0;
    .main-nav {
      button {
        border: none;
      }

      @include mq(1024) {
        width: 100%;

        .wrapper {
          flex-shrink: 0;
          overflow-x: scroll;
          width: 100%;
          padding: 0.25em;
        }
      }
    }

    .news-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1em;
      padding: 2em;
      min-height: 1200px;
      align-content: flex-start;

      position: relative;

      @include mq(1280) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include mq(1024) {
        grid-template-columns: 1fr 1fr;
        padding: 1em;
      }
      @include mq(420) {
        padding: 0em;
        padding-top: 1em;
      }

      @include mq(550) {
        padding: 0.25em;
        grid-template-columns: 1fr;
      }
      .bg-blur {
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translateX(-60%);
        opacity: 0.4;
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
      .news {
        // width: auto;
        width: 100%;
        min-height: 350px;
      }
      .empty {
        text-align: center;
        background: #09184725;
        width: 100%;
        grid-column: span 4;
        border-radius: 2em;
        opacity: 0.65;
        padding: 1em;
      }
    }
  }
}
