#p_shop {
  .general-h {
    position: relative;
    .bg-slant {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #dff0f5;
      z-index: -10;
      top: 10%;
      transform: skewY(-3deg);
    }
  }
  #sh {
    max-width: min(80%, 1280px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      gap: 1em;
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 550px) {
      max-width: 95%;
    }
    .searchbar {
      min-width: 30%;
      background: white;
      border: 4px solid var(--lblue);
      border-radius: 1em;
      &:has(input:focus) {
        outline: 3px solid var(--lblue);
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .btn {
        border: none;
        font-size: 1.4rem;
        border-radius: 0.5em;
        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 420px) {
          font-size: 1.2rem;
        }
        &:hover {
          color: white;
          background: var(--blue);
        }
        &:active {
          scale: 0.9;
        }
        option {
          font-family: var(--fontP);
          &::selection {
            background: var(--lblue);
            color: white;
          }
        }
      }
      input {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        padding: 0.55em;
        padding-left: 3em;
        font-family: var(--fontP);
        color: var(--lblue);
        font-size: 1.2rem;
        @media screen and (max-width: 420px) {
          padding-left: 2em;
        }
        &:focus {
          outline: none;
        }
      }
      position: relative;
      .ico {
        position: absolute;
        width: 2em;
        padding: 0.4em;
        height: 100%;
        color: var(--lblue);
      }
    }
    .action {
      display: flex;
      gap: 1em;
      @media screen and (max-width: 420px) {
        gap: 0.5em;
      }
      .btn-shoph {
        background: var(--lblue);
        color: white;
        padding: 0.25em 1em;
        border: none;
        min-width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        border-radius: 0.25em;

        @media screen and (max-width: 1024px) {
          font-size: 1rem;
          min-width: auto;
          gap: 1em;
        }
        @media screen and (max-width: 420px) {
          font-size: 0.9rem;
        }
        .filterico {
          position: absolute;
          left: 0%;
          top: 0%;
        }
        &:hover {
          scale: 1.05;
        }
        svg {
          width: 25px;
          height: 25px;
          @media screen and (max-width: 420px) {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  #ph {
    max-width: min(80%, 1280px);
    margin: 0 auto;
    // display: flex;
    gap: 2em 1.2em;
    // justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    @media screen and (max-width: 1280px) {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100px;
      justify-content: flex-start;
      max-width: 90%;
    }
    @media screen and (max-width: 768px) {
      gap: 1em 0.6em;
    }
    @media screen and (max-width: 420px) {
      justify-content: center;
    }
    .pcard {
      position: relative;
      box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.15);
      .category {
        right: 5%;
        top: -15px;
        position: absolute;
        background: var(--lblue);
        padding: 0.25em 1em;
        border-radius: 1em;
        p {
          color: white;
          font-size: 0.9rem;
          font-weight: bold;
          text-align: right;
        }
        @media screen and (max-width: 768px) {
          p {
            font-size: 0.7rem;
          }
        }
      }
      border: 4px solid var(--lblue);
      border-radius: 1em;
      padding: 1em;
      width: 100%;
      @media screen and (max-width: 1280px) {
        flex-basis: 300px;
      }
      @media screen and (max-width: 768px) {
        flex-basis: 220px;
        padding: 0.5em;
      }
      background: url("/b/zig90.png"), white;
      transition: all 300ms ease;
      &:hover {
        scale: 1.02;
      }
      .img {
        height: 200px;
        border-radius: 1em;
        border: 2px solid rgba(128, 128, 128, 0.665);
        overflow: hidden;
        background: grey;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media screen and (max-width: 768px) {
          height: auto;
          display: flex;
          width: 100%;
        }
      }
      .info {
        margin-top: 1em;
        min-height: 100px;
        .n {
          @media screen and (max-width: 768px) {
            font-size: 1.1rem;
          }
        }
        .desc {
          font-size: 0.8rem;
          color: var(--lblue);
          max-height: 200px;
          overflow-y: auto;
        }
      }
      .paction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 550px) {
          flex-wrap: wrap;
        }
        .price {
          font-size: 1.2rem;
          font-weight: bolder;
          font-family: var(--fontH);
          background: linear-gradient(to top, var(--blue), var(--lblue));
          background-clip: text;
          color: transparent;
          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }
        .btn-buy {
          color: white;
          font-size: 1.4rem;
          background: linear-gradient(to right, var(--lblue), var(--blue));
          border: none;
          padding: 0.25em 1em;
          border-radius: 1em;
          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
