@import "mixins";
#p_read {
  #r-h {
    .banner {
      width: 100%;
      height: 600px;
      margin-top: 1em;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      // box-shadow: 0px 0px 10px #4e7ae0;

      @include mq(1024) {
        height: 500px;
      }
      @include mq(550) {
        height: 300px;
      }
      @include mq(420) {
        height: auto;
        width: 100%;
      }
    }

    .confine {
      max-width: 1100px;
    }
    .ht {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, var(--lblue), var(--lime));
        opacity: 0.1;
      }
      padding: 2em;
      @include mq(550) {
        padding: 0.55em;
      }
      .t {
        h2 {
          font-size: 2rem;
          color: var(--grey);
          @include mq(550) {
            font-size: 1.2rem;
          }
        }
        margin: 0.5em 0;
      }
      .b {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(420) {
          flex-direction: column-reverse;
          align-items: flex-start;
        }
        .tlist {
          display: flex;
          gap: 0.5em;
          flex-wrap: wrap;

          .t {
            font-size: 1rem;
            background: linear-gradient(to right, var(--blue), var(--lblue));
            font-weight: bold;
            padding: 0.25em 1.2em;
            border-radius: 1em;
            display: block;
            color: white;

            @include mq(550) {
              font-size: 0.7rem;
            }
          }
        }
        .date {
          p {
            font-weight: bold;
            color: var(--blue);
          }
        }
      }
    }
  }

  #r-a {
    max-width: min(800px, 80%);
    margin: 0 auto;
    position: relative;
    @include mq(550) {
      max-width: 90%;
    }
    @include mq(420) {
      max-width: 95%;
    }
    .l {
      padding-top: 1em;
      position: absolute;
      height: 100%;
      right: 100%;
      top: 0%;
      width: 150px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }

    .btn-ret {
      // background: white;
      border: 2px solid var(--lblue);
      color: var(--lblue);
      padding: 0.25em 1em;
      border-radius: 2em;
      // font-size: 1.1rem;
      // margin-bottom: 20px;
      width: 100%;
      position: sticky;
      top: 2%;
      display: flex;
      align-items: center;
      gap: 1em;
      &:hover {
        background: var(--lblue);
        color: white;
      }

      @include mq(1280) {
        display: none;
      }
    }

    article {
      padding: 1em;
      font-size: 1.3rem;

      padding-bottom: 250px;

      @include mq(768) {
        font-size: 1rem;
      }
      p {
        text-align: justify;
        font-size: inherit;
        // margin: 0.;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: var(--grey);
      }
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 1.8rem;
      }
      h3 {
        font-size: 1.6rem;
      }
      h4 {
      }
      a {
        color: var(--blue);
        text-decoration: underline;
      }
      img {
        font-size: 1.5rem;
        // height: 400px;
        width: 100%;
        background: rgba(51, 60, 81, 0.326);
        // border: 2px solid var(--lime);
        margin: 2em 0;
        height: auto;
      }

      ul {
        margin: 1em 0;
        margin-left: 1.5em;
        li {
          color: var(--grey);
          font-size: inherit;
        }
      }
    }
  }

  #r-f {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: var(--lime);
      opacity: 0.2;
      z-index: -1;
      scale: 1 0.8;
    }
    .wrapper {
      background:
        url("/b/dot.png"), linear-gradient(to right, var(--lblue), var(--blue));
      background-size: 10px, 100%;

      padding: 2em;
      border-radius: 2em;

      .t {
        @include mq(550) {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          gap: 1em;
        }
        .l {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          @include mq(768) {
            flex-direction: column;
          }
          .btn-rf {
            color: white;
            border: 2px solid white;
            border-radius: 1em;
            padding: 0.25em 1.5em;

            white-space: nowrap;
            &:hover {
              background: white;
              color: var(--blue);
            }
          }
        }
        display: flex;
        justify-content: space-between;
        .r {
          max-height: 100px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: right;
          }
        }
      }

      .b {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        align-items: center;

        @include mq(768) {
          display: flex;
          flex-direction: column-reverse;
        }
        @include mq(420) {
          .ct {
            display: none;
          }
        }
        h2 {
          color: white;
          font-weight: lighter;
          font-size: 1.2rem;
          @include mq(420) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
