@import "mixins";
html,
body {
  max-width: 100vw;
  overflow-x: clip;
  position: relative;
}

:root {
  --lblue: #4ec3e0;
  --blue: #4e7ae0;
  --lime: #4ee0b4;
  --white: #eff1f6;
  --grey: #6879a0;
  --grad1: linear-gradient(to top, #4e7ae0, #4ec3e0);
  --es1: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --dd: drop-shadow(0px 2px 3px #3f59969a);
}

* {
  scroll-behavior: smooth;
}
body {
  border-top: 5px solid linear-gradient(to right);
  background: var(--white);
  font-family: var(--fontP);
  font-smooth: auto;

  transition: background 500ms var(--es1);
  &:has(#p_talent) {
    background: white;
  }
}

.de {
  user-select: none;
  pointer-events: none;
}

.bg-blur {
  filter: blur(950px);
  opacity: 0.8;
  @extend .de;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontH);
  color: var(--blue);
  // text-stroke: 2px transparent;
  // --webkit-text-stroke: 2px transparent;
  font-weight: lighter;
}

p {
  font-family: var(--fontP);
  color: var(--grey);
  text-shadow: 0px 0px 2px 1px rgb(71, 78, 106);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.confine {
  max-width: min(1280px, 90%);
  margin: 0 auto;
}
button {
  padding: 0;
  outline: none;
  background: none;
  text-decoration: none;
  color: black;
}
.btn {
  cursor: pointer;
  transition: all 150ms ease;
  font-family: var(--fontH);
  &.hv:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

.ho {
  color: transparent;
  --stroke: 3px;
  text-stroke: var(--stroke) white;
  -webkit-text-stroke: var(--stroke) white;
  // text-shadow: 0px 0px 2px #3f5996;
  font-family: var(--fontP);
  font-weight: bolder;
  // filter: drop-shadow(0px 5px 2px #3f599636);
}

.general-h {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  margin-top: 100px;
  .hs {
    font-size: 7rem;
    filter: var(--dd);
  }
  font-size: 2rem;
  p {
    text-shadow: 0px 1px 3px rgba(86, 101, 117, 0.33);
  }
}
.hs {
  color: transparent;
  --stroke: 3px;
  text-stroke: var(--stroke) white;
  -webkit-text-stroke: var(--stroke) white;
  // font-weight: bold;
  font-weight: lighter;

  background: linear-gradient(to right, var(--blue), var(--lblue), var(--lime));
  &.zg {
    background:
      url("/b/zig35.png"),
      linear-gradient(to right, var(--blue), var(--lblue), var(--lime));
    background-clip: text;
  }
  background-blend-mode: overlay;
  background-clip: text;
  -webkit-background-clip: text;

  filter: drop-shadow(0px 5px 2px #3f599636);
}
// .gb {
//   background: linear-gradient(to right, var(--blue), var(--lime));
//   .wrapper {
//     background: white;
//   }
// }

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 2em;
  @include mq(1024) {
    padding: 0.25em;
  }
  .q {
    background: #dffff5;
    border: 4px solid var(--lblue);
    box-shadow: 0px 4px #3f59969a;
    border-radius: 3em;
    overflow: hidden;
    transition: all 500ms var(--es1);
    &:hover {
      scale: 1.02;
    }
    .q-h {
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      padding: 1em 1.5em;

      @include mq(550) {
        padding: 1em 1em;
      }
      h2 {
        color: var(--grey);
        // font-size: 2rem;
        // font-family: var(--fontP);
        // letter-spacing: 1px;
        // opacity: 0.7;
        font-weight: lighter;
        @include mq(1280) {
          font-size: 1rem;
        }
      }
      align-items: center;
      .btn-arr {
        background: #4d9ddf;
        color: white;
        border-radius: 2em;
        display: flex;
        // width: 110px;
        padding: 0em 1em;
        box-shadow: 0px 4px #3f59969a;
        svg {
          width: 50px;
          height: 50px;
        }
        @include mq(1280) {
          svg {
            width: 30px;
            height: 30px;
          }
        }
        @include mq(550) {
          padding: 0 0.5em;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
      // padding: 1em 1.5em;
    }

    .q-bar {
      color: var(--grey);
      background: white;
      padding: 3em;
      margin-bottom: 3em;
      transform-origin: top center;
      @include mq(420) {
        padding: 1.25em;
        margin-bottom: 1.2em;
      }
      h3 {
        font-weight: lighter;
        color: var(--grey);
        font-size: 2rem;
        @include mq(1280) {
          font-size: 1.5rem;
        }
        @include mq(420) {
          font-size: 1rem;
        }
      }
      p {
        font-size: 1.3rem;
        @include mq(1280) {
          font-size: 1.1rem;
        }
        @include mq(420) {
          font-size: 1rem;
        }
      }
    }
  }
}
.dzig {
  background: url("/d/dzig.png");
  animation: bganim 55s infinite linear;
}

.ni {
  user-select: none;
  pointer-events: none;
}
@keyframes bganim {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 3000px;
  }
}
