@import "_mixins";
#header {
  border-top: 4px solid;
  border-image: linear-gradient(to right, var(--blue), var(--lime)) 30%;
  .confine {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    @include mq(420) {
      display: flex;
      gap: 1em;
      flex-direction: column;
    }
    .logo-part {
      img {
        max-height: 80px;
      }
      @include mq(550) {
        img {
          max-width: 100%;
        }
      }
    }

    .l {
      display: flex;
      gap: 1em;
      align-items: center;
      .language {
        background: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0.5em;
        transform: translateX(40%);
        position: relative;
        z-index: 1;
        scale: 0.7;
        filter: var(--dd);
        svg {
          width: 100%;
          height: 100%;
          opacity: 0.2;
        }
      }
      .language-switcher {
        padding: 0.2em;
        background: linear-gradient(to right, var(--blue), var(--lime));
        border-radius: 2em;

        &:active {
          scale: 1;
        }
        .wrapper {
          display: flex;
          background: 2em;
          background: white;
          border-radius: inherit;
        }
        .btn {
          font-size: 1.3rem;
          font-family: var(--fontH);
          color: #dcdcdc;
          padding: 0.55em 1em;
          border-radius: inherit;
          border: none;
          @include mq(1680) {
            font-size: 1.1rem;
            padding: 0.55em 1.5em;
          }
          @include mq(1439) {
            font-size: 1rem;
            padding: 0.55em 0.9em;
          }
          // &:hover,
          // &.act {
          //   background: linear-gradient(to right, var(--blue), var(--lime));
          //   color: white;
          //   scale: 1.02;
          //   span {
          //     filter: var(--dd);
          //   }
          // }
          position: relative;
          span {
            transition: inherit;
          }
          &.i {
            &::before {
              transform: translateX(100%);
              scale: 1.1;
            }
          }
          &.e {
            &::before {
              scale: 1.1;
              transform: translateX(-100%);
            }
          }
          &::before {
            background: linear-gradient(to right, var(--blue), var(--lime));
            color: white;
            scale: 1;

            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            transition: all 500ms var(--es1);
            opacity: 0;
          }
        }

        &.ind {
          .btn.i {
            &::before {
              transform: translateX(0%);
              opacity: 1;
            }
            span {
              filter: var(--dd);
              color: white;
            }
          }
        }
        &.eng {
          .btn.e {
            &::before {
              transform-origin: right;
              transform: translateX(0%);
              opacity: 1;
            }

            // scale: 1.2;
            span {
              filter: var(--dd);
              color: white;
            }
          }
        }
      }
      .btn-cart {
        background: linear-gradient(to right, var(--lblue), var(--blue));
        color: white;
        padding: 0.5em 1em;
        border: 3px solid white;
        border-radius: 3em;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .btn-audition {
        display: flex;
        background:
          url("/b/zig10.png"),
          linear-gradient(to right, var(--blue), var(--lime));
        background-blend-mode: overlay;
        color: white;

        font-size: 1.6rem;
        font-family: var(--fontH);
        padding: 0.4em 1.4em;
        border-radius: 2em;
        box-shadow: 0px 0px 8px #3f599634;
        transition: all 150ms ease;
        outline: 3px solid white;
        @include mq(1680) {
          font-size: 1.1rem;
          padding: 0.55em 1.5em;
        }
        @include mq(1439) {
          font-size: 1rem;
          padding: 0.55em 0.9em;
        }
        @include mq(1024, max) {
          display: none;
        }
        span {
          display: flex;
          gap: 0.5em;
          // align-content: center;
          // align-items: center;
          filter: var(--dd);
          svg {
            position: relative;
            top: 3%;
          }
        }
      }
      @include mq(1024) {
        .circle {
          width: 20%;
          // height: 50px;
          height: auto;
          aspect-ratio: 1 /1;
          z-index: -2;
          border-radius: 0 0 0 1000px;
          background: var(--lime);
          position: absolute;
          opacity: 0.2;
          top: 0%;
          right: 0%;
        }
      }
      .btn-menu {
        border: none;
        font-size: 1.4rem;
        @include mq(1024, min) {
          display: none;
        }
        @include mq(1024) {
          display: flex;
        }
      }
    }
  }
}
.main-nav {
  background: linear-gradient(to right, var(--blue), var(--lime));
  border-radius: 2.5em;
  padding: 0.25em;
  box-shadow: 0px 0px 8px #3f599634;

  &.top {
    @include mq(1024) {
      display: none;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    gap: 0.3em;
    background: url("/b/zigzag.png"), rgb(223, 235, 239);
    background-blend-mode: lighten;

    border-radius: inherit;
    .btn-nav {
      font-size: 1.3rem;
      font-family: var(--fontH);
      padding: 0.55em 2em;
      @include mq(1680) {
        font-size: 1.1rem;
        padding: 0.55em 1.5em;
      }
      @include mq(1439) {
        font-size: 1rem;
        padding: 0.55em 0.9em;
      }
      // filter: drop-shadow(0px 0px 2px rgb(71, 78, 106));
      border-radius: inherit;
      position: relative;
      span,
      svg {
        // color: var(--grad1);
        color: transparent;
        background: var(--grad1);
        background-clip: text;
        -webkit-background-clip: text;
        transition: all 150ms ease;
        -webkit-text-fill-color: transparent;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(70deg, var(--blue), var(--lime));
        transition: all 400ms var(--es1);
        border-radius: inherit;
        // transform: translateY(10%);
        scale: 0 1.2;
        opacity: 0;
        user-select: none;
        transform-origin: center;
        pointer-events: none;
        // filter: drop-shadow(0px 0px 2px rgb(71, 78, 106));
      }
      &:hover,
      &.act {
        span,
        svg {
          filter: var(--dd);

          background: none;
          background-clip: initial;
          -webkit-background-clip: initial;
          -webkit-text-fill-color: initial;
          color: white;
        }

        &::before {
          background: linear-gradient(70deg, var(--blue), var(--lime));
          scale: 1;
          opacity: 1;
          transform: translateY(0%);
        }
      }

      &.act {
        scale: 1.2;
        position: relative;
        z-index: 1;
        margin: 0 0.5em;
        filter: drop-shadow(0px 2px 5px rgba(71, 78, 106, 0.253));
        // outline: 2px solid black;

        // outline-offset: 2px;/
      }
    }
  }
}
#fs-menu {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(28, 44, 66, 0.356);
  z-index: 100;
  backdrop-filter: blur(5px);

  transition: all 600ms ease;
  &.act {
    transform: translateY(0vh);
    opacity: 1;
  }
  &.dis {
    opacity: 0;
    transform: translateY(100vh);
    user-select: none;
    pointer-events: none;
  }
  .fs-nav {
    height: 100%;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
      gap: 0.2em;

      .btn-nav {
        // font-weight: bold;
        color: var(--blue);
        background: url("/b/zig90.png"), white;
        width: 100%;
        font-size: clamp(1rem, 12vw, 3rem);
        text-align: left;
        padding: 0.25em 1em;
        text-transform: uppercase;
        font-weight: normal;
        span {
          // filter: var(--dd);
          text-shadow: 0px 2px 4px rgb(117, 149, 219);
        }
        &:active {
          background: var(--blue);
          color: white;
        }
      }
    }
  }
}
